body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  color: #f5f5f5;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #262626;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1a1a1a;
}
  
nav button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: transparent;
  color: #f5f5f5;
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
  
nav button:hover {
  background-color: #f5f5f5;
  color: #1a1a1a;
}
  
main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
  
h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #FC6A04;
}
  
p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
 }

blockquote {
  color: #777;
}
  
.link {
  color: #FC6A04;
}
  
.link:visited {
  color: #fc6a04;
}
  
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #FC6A04;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin: 8px;
}
  
.button:hover {
  background-color: #FC6A04;
  color: #1a1a1a;
}
  
.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}
  
#searchInput {
  padding: 10px;
  border: 2px solid #FC6A04;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  font-size: 1rem;
  box-sizing: border-box;
}
  
#searchButton {
  padding: 10px 20px;
  background-color: transparent;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #FC6A04;
  cursor: pointer;
  width: 50%;
  box-sizing: border-box;
}
  
#searchButton:hover {
  background-color: #FC6A04; 
  color: #1a1a1a;
}
  
#gameButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* App Menu */
#app-menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

#app-menu-button {
  background-color: #262626;
  color: #f5f5f5;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#app-menu-button:hover {
  background-color: #FC6A04;
}

#app-menu-grid {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#app-menu-grid.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.app-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  padding: 10px;
  border-radius: 8px;
}

.app-menu-item:hover {
  transform: scale(1.05);
  background-color: #FC6A04;
}

.app-menu-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.app-menu-item p {
  font-size: 14px;
  color: #f5f5f5;
  margin: 0;
}
